<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="UniPass">
    <meta name="author" content="SAGA">
    <link rel="shortcut icon" href="../img/tabicon.png" type="image/x-icon">
    <title>Profilo | UNIPASS</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="height: 100%; min-height: 100%;">
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand center_mob" href="/home"><img class="img-responsive" src="../img/logoUniPass.png"></a>
        <form class="d-flex center_mob" th:if="${session.utenteLoggato['getTipo']  == 'passeggero'}">
            <a class="list-group-item" href="/storico-viaggi"><i class="fa fa-history button-icon" aria-hidden="true"></i>&nbsp; STORICO VIAGGI</a>
            <a class="list-group-item" href="/pagina-utente-passeggero"><i class="fa fa-user-o button-icon" aria-hidden="true"></i>&nbsp; PROFILO</a>
        </form>

        <form class="d-flex center_mob" th:if="${session.utenteLoggato['getTipo'] == 'guidatore'}">
            <a class="list-group-item" href="/storico-viaggi"><i class="fa fa-history button-icon" aria-hidden="true"></i>&nbsp; STORICO VIAGGI</a>
            <a class="list-group-item" href="/pagina-utente-guidatore"><i class="fa fa-user-o button-icon" aria-hidden="true"></i>&nbsp; PROFILO</a>
        </form>
    </div>
</nav>

<nav class="navbar navbar-expand-md" style="background-color: #3d3e3e">
    <div class="center">
        <button style="background-color:#FECC18;color:white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/home" style="color:#ffffff" class="nav-link testo_nav" aria-current="page"><i class="fa fa-home"></i><span> HOME</span></a>
                </li>
                <li class="nav-item">
                    <a th:if="${session.utenteLoggato['getVeicolo'] != null}" href="/crea-viaggio-page" style="color:#ffffff" class="nav-link testo_nav"><i class="fa fa-car"></i><span> CREA VIAGGIO</span></a>
                </li>
                <li class="nav-item">
                    <a href="/cerca-viaggio-page" style="color:#ffffff" class="nav-link testo_nav" ><i class="fa fa-search"></i><span> CERCA VIAGGI</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<hr class="spacer">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3 style="margin-left: 7%" class="list-group-item" href="#"><img class="button-icon profile-size user-icon" src="../img/user-icon.png">&nbsp <strong th:text="${session.utenteLoggato['getNome']}">Mario Rossi</strong></h3>
        </div>
        <div class="col-md-4 bz80" style="padding-top: 3%;">
            <a id="modificaProfilo" onclick="modificaVisibilitaProfilo()" style="font-size: 90% !important;" class="list-group-item profile-action" href="#"><i class="bi bi-pencil" aria-hidden="true"></i>&nbsp  Modifica profilo</a>
            <a id="annullaModificaProfilo" onclick="modificaVisibilitaProfilo()" style="font-size: 90% !important;" class="list-group-item profile-action d-none" href="#"><i class="fa fa-close" aria-hidden="true"></i>&nbsp Chiudi pannello modifica</a>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 1%; margin-bottom: 3%;">
    <form action="/modifica" th:onsubmit="return validaAggiornamento('ModificaProfiloErroreModal')" method="post">
        <div class="row">
            <div style="margin-left: 5%;" class="col-md-4">
                <div class="bz80">
                    <label for="nomeID" style="color:#fecc18"><strong>Nome: </strong></label>
                    <input name="nome" class="campiProfVis" style="border: none;max-width: 50%;" id="nomeID" type="text" th:value="${session.utenteLoggato['getNome']}" readonly>
                </div>
                <div class="bz80" style="margin-top: 8%;">
                    <label for="emailID" style="color:#fecc18"><strong>E-mail: </strong></label>
                    <input name="email" class="campiProfVis" style="border: none;max-width: 100%;;width:80%" id="emailID" type="text" th:value="${session.utenteLoggato['getEmail']}" readonly>
                </div>
                <div class="bz80" style="margin-top: 8%;">
                    <label for="telefonoID" style="color:#fecc18"><strong>Numero di telefono: </strong></label>
                    <input name="telefono" class="campiProfVis" style="border: none;max-width: 50%;" id="telefonoID" type="text" th:value="${session.utenteLoggato['getTelefono']}" readonly>
                </div>
            </div>
            <div style="margin-right: auto" class="col-md-4">
                <div class="bz80">
                    <label for="cognomeID" style="color:#fecc18"><strong>Cognome: </strong></label>
                    <input name="cognome" class="campiProfVis" style="border: none;max-width: 50%;" id="cognomeID" type="text" th:value="${session.utenteLoggato['getCognome']}" readonly>            </div>
                <div class="bz80" style="margin-top: 8%;">
                    <label for="PasswordID" style="color:#fecc18"><strong>Password: </strong></label>
                    <input name="password" class="campiProfVis" style="border: none;max-width: 50%;" id="PasswordID" type="password" value="password" readonly>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <input id="salvaModificheProfilo" type="submit" value="Salva modifiche" style="display: none;">
        <input id="resetModificheProfilo" type="reset" value="Reset" style="display: none;">

        <!-- Modal dati inviati non validi -->
        <div class="modal fade" id="ModificaProfiloErroreModal" tabindex="-1" aria-labelledby="ModificaProfiloErroreModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" fs-5 id="exampleModalLabel">UniPass</h1>
                        <button onclick="chiudiModal('ModificaProfiloErroreModal')" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">I dati inviati non sono validi</div>
                    <div class="modal-footer">
                        <button onclick="chiudiModal('ModificaProfiloErroreModal')" type="button" class="btn btn-primary">Chiudi</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

<div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-5">
            <hr>
        </div>
        <div class="col-md-2">
            <h3 class="center">Il tuo veicolo</h3>
        </div>
        <div class="col-md-5">
            <hr>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <h3 style="margin-left: 7%" class="list-group-item" href="#"><img class="button-icon profile-size user-icon" src="../img/steeringwheel-icon.png">&nbsp <strong>Veicolo</strong></h3>
        </div>
        <div class="col-md-4 bz80" style="padding-top: 3%;">
            <a id="modificaVeicolo" href="#" data-toggle="collapse" onclick="modificaVisibilitaVeicolo()" style="font-size: 90% !important;" class="list-group-item profile-action"><i class="bi bi-pencil" aria-hidden="true"></i>&nbsp  Modifica veicolo</a>
            <a id="annullaModificaVeicolo" onclick="modificaVisibilitaVeicolo()" style="font-size: 90% !important;" class="list-group-item profile-action d-none" href="#"><i class="fa fa-close" aria-hidden="true"></i>&nbsp Chiudi pannello modifica</a>
            <a style="font-size: 90% !important;" class="list-group-item profile-action" href="/rimuovi-veicolo"><i class="bi bi-trash-fill" aria-hidden="true"></i>&nbsp Rimuovi veicolo</a>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 1%; margin-bottom: 3%;">
    <form action="/modifica-veicolo" th:onsubmit="return validaDatiVeicolo()" method="post">
        <div class="row">
            <div style="margin-left: 5%" class="col-md-4">
                <div class="bz80">
                    <label for="targaID" style="color:#fecc18"><strong>Targa: </strong></label>
                    <input name="targa" class="campiVis" style="border: none;max-width: 50%;" id="targaID" type="text" th:value="${session.utenteLoggato['getVeicolo']['getTarga']}" readonly>
                </div>
                <div class="bz80" style="margin-top: 8%;">
                    <label for="marcaID" style="color:#fecc18"><strong>Marca: </strong></label>
                    <input name="marca" class="campiVis" style="border: none;max-width: 50%;" id="marcaID" type="text" th:value="${session.utenteLoggato['getVeicolo']['getMarca']}" readonly>
                </div>
                <div class="bz80" style="margin-top: 8%;">
                    <label for="modelloID" style="color:#fecc18"><strong>Modello: </strong></label>
                    <input name="modello" class="campiVis" style="border: none;max-width: 50%;" id="modelloID" type="text" th:value="${session.utenteLoggato['getVeicolo']['getModello']}" readonly>
                </div>
            </div>
            <div style="margin-right: auto" class="col-md-4">
                <div class="bz80">
                    <label for="coloreID" style="color:#fecc18"><strong>Colore: </strong></label>
                    <input name="colore" class="campiVis" style="border: none; max-width: 50%;" id="coloreID" type="text" th:value="${session.utenteLoggato['getVeicolo']['getColore']}" readonly>
                </div>
                <div class="bz80" style="margin-top: 8%;">
                    <label for="postiID" style="color:#fecc18"><strong>Posti disponibili: </strong></label>
                    <input name="postiDisponibili" class="campiVis" style="border: none; max-width: 50%;" id="postiID" type="text" th:value="${session.utenteLoggato['getVeicolo']['getPostiDisponibili']}" readonly>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <input id="salvaModificheVeicolo" type="submit" value="Salva modifiche" style="display: none;">
        <input id="resetModificheVeicolo" type="reset" value="Reset" style="display: none;">
    </form>

</div>

<form id="logout">
    <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <u>Esci</u></a>
</form>

<footer style="clear: both; position: absolute; height: 80px;" class="center">
    <div style="margin-top: 1%; margin-bottom: 1%;">
        <div class="row">
            <div class="col-4 col-sm-4 d-none d-lg-block center_mob">
                <a class="navbar-brand" href="/home"><img class="img-responsive" src="../img/logoUniPassFooter.png"></a>
            </div>
            <a class="navbar-brand db" style="display:none;" href="/home"><img class="img-responsive" src="../img/logoUniPassFooter.png"></a>
            <div class="col-4 col-sm-4 dn" style="padding-bottom: 0%">
                <div><a style="padding: 1%; display: inline" class="list-group-item" href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp  CHI SIAMO</a></div>
                <div><a style="padding: 1%; display: inline" class="list-group-item" href="#"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp CONTATTI</a></div>
            </div>
            <div class="col-4 col-sm-4 d-md-none d-block"></div>
            <div style="text-align: center" class="col-4 col-sm-4 dn">
                <p>©Copyright 2023<br>S.A.G.A.</p>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="../js/modVIs.js"></script>
<script src="../js/regex.js"></script>

</body>
</html> src="../js/regex.js"></script>

</body>
</html>